.content{
  margin: 0 10%;
  min-height: 100vh; 
}
.theme-color{
  background-color: black;
}
.text-color{
  color: white;
}
.gif-list-container{
  display: flex;
  flex-wrap: wrap;
}
.gif-img{
  height: 200px;
  width: 200px;
}
.gif-item{
  margin: 1em;
}
.page-heading{
  margin-top: 0px;
  padding-top: 15px;
}
.text-center{
  text-align: center;
}
.gif-detail-img{
  max-width: 100%;
  max-height: 60vh;
}